<div class="jumbotron" ng-controller="homeController">
    <h2> Employee Info System Web App</h2>
    <p>Web information system designed to allow users to conduct Create, Read, Update, and Delete (CRUD) operations</p>
    <p>Technologies used to create this Single Page Application:</p>
    <p class="col-sm-offset-1"><b><span class="glyphicon glyphicon-hand-right"></span> User Interface</b>: AngularJS and BootStrap</p>
    <p class="col-sm-offset-1"><b><span class="glyphicon glyphicon-hand-right"></span> Service Layer</b>: Asp.Net Web API</p>
    <p class="col-sm-offset-1"><b><span class="glyphicon glyphicon-hand-right"></span> Business Logic Layer</b>: C#.Net</p>
    <p class="col-sm-offset-1"><b><span class="glyphicon glyphicon-hand-right"></span> Data Access Layer</b>: Entity Framework Code First</p>
    <p class="col-sm-offset-1"><b><span class="glyphicon glyphicon-hand-right"></span> Back End</b>: MS SQL Server 2016</p>
    <p class="col-sm-offset-1"><b><span class="glyphicon glyphicon-hand-right"></span> Tools</b>: Visual Studio 2015 and SQL Server Management Studio 2016</p>
</div>
